.schedules {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 36px 123px 17px 123px;
    background-color: $background-color-1;

    h2 {
        @include title-1;

        &::after {
            content: '';
            display: block;
            width: 72px;
            height: 1px;
            background-color: $accent-color-2;
        }
    }
    p {
        @include text-1;
    }
    [class^="schedules__opening-time__icon"] {
        &::before {
            content: '';
            display: none;
            width: 15px;
            height: 7px;
            margin: auto 10px 1px auto; 
        }
    }
    [class$="open"] {
        &::before {
            display: inline-block;
            background-color: $accent-color-2;
        }
    }
    [class$="close"] {
        &::before {
            display: inline-block;
            background-color: $accent-color-1;
        }
    }
}